/*
////////////////////////////////////////////////
Defaults
////////////////////////////////////////////////
*/

.defaultText {
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 14px;
    -fx-text-fill: #C5EDFF;
}

.defaultErrorText {
    -fx-text-fill: #EA1717;
}

.defaultButton {
    -fx-background-color: transparent;
    -fx-border-color: #C5EDFF;
    -fx-border-width: 1;

    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 14px;
    -fx-text-fill: #C5EDFF;
}

.defaultButton:hover {
    -fx-background-color: #8093cd;
}

.defaultButton:focused {
    -fx-border-width: 1 2 2 1;
}

.defaultButton:pressed {
    -fx-border-width: 2 1 1 2;
}

.defaultTextField {
    -fx-background-color: transparent;
    -fx-border-color: #C5EDFF;
    -fx-border-width: 1;

    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 14px;
    -fx-text-fill: #C5EDFF;

    -fx-prompt-text-fill: #8093cdAA;
}

.defaultTextField:hover {
    -fx-background-color: #8093cd50;
    -fx-border-color: #C5EDFF;
    -fx-border-width: 1;

    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 14px;
    -fx-text-fill: #C5EDFF;
}

.defaultTextField:focused {
    -fx-background-color: #8093cd50;
}

.defaultTextFieldError {
    -fx-border-color: #EA1717;
    -fx-border-width: 1 1 2 1;
}

.defaultTextFieldError:hover {
    -fx-border-color: #EA1717;
    -fx-border-width: 1 1 2 1;
}

/*
////////////////////////////////////////////////
Buttons
////////////////////////////////////////////////
*/

.primaryButtonColor {
    -fx-background-color: #3C4A83;
}

.secondaryButtonColor {
    -fx-background-color: #2B2A3D;
}

.fileBrowseButton {
    -fx-border-color: #C5EDFF;
    -fx-border-width: 1;

    -fx-padding: 4;

    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 12px;
    -fx-text-fill: #C5EDFF;
}

.clearFilesButton {
    -fx-padding: 5 15 5 15;
    -fx-font-size: 12px;
}

.navigationBackButton {
    -fx-padding: 8 22 8 22;
}

.navigationNextButton {
    -fx-padding: 8 22 8 22;
}

/*
////////////////////////////////////////////////
Window
////////////////////////////////////////////////
*/

.window {
    -fx-background-image: url('../images/background.png');
    -fx-background-size: 100% 100%;

    -fx-border-color: #C5EDFF;
    -fx-border-width: 0.4;
}

.windowHeader {
    -fx-background-color: #2B2A3D;
    -fx-border-color: transparent transparent #C5EDFF transparent;
    -fx-border-width: 0.25;
}

.windowHeaderTitle {
    -fx-text-fill: #7E7F83;
    -fx-font-style: normal;
    -fx-font-weight: lighter;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 14px;
}

.windowHeaderButton {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
}

.windowCloseButton:hover {
    -fx-background-color: #a50202;
}

/*
////////////////////////////////////////////////
Generic components
////////////////////////////////////////////////
*/

.containerHeader {
    -fx-background-color: #4E4C66;
    -fx-border-color: #C5EDFF;
    -fx-border-width: 1;
    -fx-border-insets: 0 0 -1 0;
}

.containerBody {
    -fx-background-color: #4E4C6660;
    -fx-border-color: #C5EDFF60;
    -fx-border-width: 2;
}

.containerHeaderTitle {
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 16px;
    -fx-text-fill: #C5EDFF;
}

.containerHeaderWizardStep {
    -fx-font-style: normal;
    -fx-font-weight: lighter;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 14px;
    -fx-text-fill: #C5EDFF;
}

/*
////////////////////////////////////////////////
Progress component
////////////////////////////////////////////////
*/

.circle_progressBar {
    -fx-fill: #C5EDFF;
    -fx-stroke-width: 0;
}

.line_progressBar {
    -fx-stroke: #C5EDFF;
    -fx-stroke-width: 3;
}

/*
////////////////////////////////////////////////
Filebrowse textfield
////////////////////////////////////////////////
*/

/*.      <Style class selector> [,<compound selectors>] [:<pseudo selectors>]*/
/* e.g. .myField Label , or .myField .label, as element name selectors have equivalent style classes*/
/* e.g. .myField:hover*/
.fileBrowseTextField .text-field {
    -fx-border-radius: 0;
    -fx-background-color: #7E7F8360;
    -fx-border-color: #C5EDFF;
    -fx-border-width: 1;
    -fx-border-insets: 0;
    -fx-pref-height: 32px;
    -fx-text-fill: #C5EDFF;
    -fx-prompt-text-fill: #8da8b5;
    -fx-font-family: "Roboto Light";
}

.fileBrowseTextFieldError .text-field {
    -fx-border-color: #EA1717;
    -fx-border-width: 1;
    -fx-border-insets: 0 1 -1 0;
}


/*
////////////////////////////////////////////////
TextArea
////////////////////////////////////////////////
*/

.text-area, .text-area .viewport, .text-area .content {
    -fx-background-color: #4E4C66;
    -fx-text-fill: #C5EDFF;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 14px;
}

/*
////////////////////////////////////////////////
File listview
////////////////////////////////////////////////
*/

.fileSelectionListView .list-cell:even {
    -fx-background-color: #4E4C6660;
    -fx-text-fill: #C5EDFF;
}

.fileSelectionListView {
    -fx-border-insets: 0 -2 0 -2;
}

.fileSelectionListView .list-cell:odd {
    -fx-background-color: #4E4C6610;
    -fx-text-fill: #C5EDFF;
}

.fileSelectionListView .list-cell:filled:hover {
    -fx-background-color: #69686d;
    -fx-text-fill: #C5EDFF;
}

/*
////////////////////////////////////////////////
Scroll bars
////////////////////////////////////////////////
*/

.thumb {
    -fx-background-color: #4E4C66;
    -fx-background-radius: 5;
    -fx-border-width: 0;
}

.track, .corner {
    -fx-background-color: #2B2A3D;
    -fx-background-radius: 5;
    -fx-border-width: 0;
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-background-radius: 0;
    -fx-padding: 0 5;
}

.increment-arrow, .decrement-arrow {
    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-shape: " ";
    -fx-padding: 0;
}

/*
////////////////////////////////////////////////
Checkbox
////////////////////////////////////////////////
*/
.check-box:selected > .box {
    -fx-background-color: #C5EDFF;
}

.check-box > .box {
    -fx-background-color: #EEEEEE80;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate > .box > .mark {
    -fx-background-color: #2B2A3D;
}

